@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans:wght@200;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Solway:wght@300;700&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /*
    Z-INDEX INDEX
    10 - popup-inner
    9 - popup
    2 - header
    auto - anything unspecified
    0 - footer
  */

  --ff-primary: "IBM Plex Sans", sans-serif;
  --ff-secondary: "IBM Plex Mono", monospace;

  --fw-light: 200;
  --fw-reg: 400;
  --fw-bold: 900;

  --clr-light: whitesmoke;
  --clr-dark: black;
  --clr-light-accent: lightgrey;
  --clr-accent: grey;
  --clr-dark-accent: darkgrey;

  --fs-h1: 3rem;
  --fs-h2: 1.75rem;
  --fs-h3: 1.15rem;
  --fs-body: .9rem;
  --fs-small: .75rem;

  --bs: 0em 0.25em 0.75em rgba(0, 0, 0, 0.3),
    0em 0.125em 0.25em rgba(0, 0, 0, 0.1);
  --bs-light: 0em 0.25em 0.75em rgba(0, 0, 0, 0.05),
    0em 0.125em 0.25em rgba(0, 0, 0, 0.07);
  --bs-in: inset 0px 31px 37px -24px rgba(0,0,0,0.13),
    inset 0px 31px 16px -13px rgba(0,0,0,0.07);
  --bs-in-light: inset 0px 50px 41px -30px rgba(0,0,0,0.01),
    inset 0px 50px 50px -30px rgba(0,0,0,0.01);
}

@media (min-width: 768px) {
  :root {
    --fs-h1: 3.5rem;
    --fs-h2: 2.75rem;
    --fs-h3: 1.45rem;
    --fs-h3: 1.15rem;
    --fs-body: 1rem;
  }
}
/* ##################################################### TYPOGRAPHY */

h1,
h2,
h3,
h4,
p {
  line-height: 1.1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}
h4 {
  font-size: var(--fs-h4)
}
p {
  font-size: var(--fs-body);
}

/* ##################################################### GENERAL STYLES */

html, body, #root {
  display: border-box;
  height: 100%;
  width: 100%;
  margin: 0;
}

#root {
  display: grid;
  grid-template-rows: 55px 1fr 150px;
}

html {
  position: relative;
  scroll-behavior: smooth;
  min-height: 100%;
  line-height: 1.6;
  background: var(--clr-light);
  color: var(--clr-dark);
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}


/* ##################################################### HEADER */

.header__container {
  height: 3em;
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background-color: (var(--clr-light), .8);
  backdrop-filter: saturate(180%) blur(20px);
  border-bottom: 1px solid var(--clr-light-accent);
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  transition: .3s;
  z-index: 2;
}

.header__title {
  margin: 0;
  padding: 0 1rem;
  color: var(--clr-dark);
  text-decoration: none;
  
}

.header__title--name {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0.5rem 0.25em;
  color: var(--clr-dark);
  font-family: var(--ff-secondary);
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
  text-decoration: none;
}
.header__title--name:hover {
  background: var(--clr-light-accent);
  opacity: 0.8;
  
}

.header__auth-options {
  margin-right: 1rem;
}

.header__auth-options--button {
  padding: 0.5rem;
  margin:  0 0 0 0.5rem ;
  background: transparent;
  border: transparent;
  color: var(--clr-dark);
  font-size: var(--fs-h3);
  font-weight: var(--fw-reg);
  cursor: pointer;
}
.header__auth-options--button:hover {
  background: var(--clr-light-accent);
  border: transparent;
  opacity: 0.8;
}

/* ##################################################### HEADER */

.footer {
  grid-row: 3/4;
  background: var(--clr-light);
  color: var(--clr-dark);
  border-top: 1px solid var(--clr-light-accent);
  position: relative;
  text-align: center;
  padding: 1.25em 0;
  bottom: 0;
  z-index: 0;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {
  font-size: var(--fs-body);
  font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
  opacity: 0.7;
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 0.5em;
}

.social-list__link {
  padding: 0.5em;
}

/* ##################################################### POPUP */

.popup {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.15);
  backdrop-filter: saturate(180%) blur(15px);
  z-index: 10;
}

.popup__inner {
  position: relative;
  overflow-y: scroll;
  max-height: 500px;
  max-width: 500px;
  width: 300px;
  margin: auto;
  padding: 2em;
  overflow: hidden;
  vertical-align: justify;
  background-color: var(--clr-light);
  box-shadow: var(--bs-light);
  z-index: 9;
}

.popup__inner h2 {
  text-align: center;
}

.popup__close-button {
  position: absolute;
  right: 0;
  top: 0;
  float: right;
  margin-right: 5px;
  margin-top: 5px;
  border: none;
  background: transparent;
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
  cursor: pointer;
}
.popup__close-button:hover {
  text-shadow: var(--bs);
}

.register__container,
.login__container{
  text-align: center;
}

/* ##################################################### USER FORM */

.user__form {
  max-width: 554px;
  margin: 0 auto;
}

.register__title,
.login__title {
  margin-bottom: 8px;
}

.user__form input {
  margin-bottom: 1rem;
}

.user__form label {
  margin: 1em auto;
}

.user__form input[type="text"],
.user__form input[type="email"],
.user__form input[type="password"] {
  width: 100%;
  padding: 0.3rem;
  border: 1px solid var(--clr-dark);
  border-radius: 0;
  font-size: 1.1rem;
}
.user__form input::placeholder{
  color: var(--clr-dark-accent);
}

.user__form input:focus {
  border: 1px solid var(--clr-accent);
  outline-style: none;
  box-shadow: var(--bs-light);
  -webkit-box-shadow: var(--bs-light);
  -moz-box-shadow: var(--bs-light);
}

.user__form input[type="submit"] {
  padding: 1rem;
  margin: auto;
  background: var(--clr-light);
  border: 1px solid var(--clr-light-accent);
  box-shadow: var(--bs-light);
  color: var(--clr-dark);
  font-family: var(--ff-secondary);
  font-size: var(--fs-body);
  font-weight: var(--fw-reg);
  cursor: pointer;
}
.user__form input[type="submit"]:hover {
  background: var(--clr-light-accent);
  box-shadow: var(--bs);
  opacity: 0.8;
  backdrop-filter: saturate(180%) blur(20px) opacity(0.8);
}
.user__form input[type="submit"]:active {
  box-shadow: var(--bs-light);
} 

/* error notice */

.error-notice {
  max-width: 554px;
  margin: 1rem auto;
  padding: 0.5rem;
  border: 1px solid var(--clr-dark);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error-notice button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--clr-dark);
  color: var(--clr-dark);
}



/* ##################################################### SPLASH */

.splash-page { 
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--clr-light);
}

.hero,
.CTA,
.about {
  background: var(--clr-light);
  box-shadow: var(--bs);
  border-top: 1px solid var(--clr-light-accent);
  border-bottom: 1px solid var(--clr-light-accent);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 250px;
}

.hero {
  margin-top: calc(25vh - 100px);
  margin-bottom: calc(25vh);
}

.about {
  padding: 25px 0;
  margin-bottom: calc(25vh);
}

.CTA {
  padding: 25px 0;
  margin-bottom: calc(25vh);
}

.hero__text--title {
  font-family: var(--ff-secondary);
  font-size: var(--fs-h1);
  margin-bottom: 5px;
}

.hero__text--subtitle {
  font-family: var(--ff-secondary);
  font-size: var(--fs-h3);
  margin: 5px;
}

.hero__text--subsubtitle {
  font-family: var(--ff-secondary);
  font-size: var(--fs-h3);
}

.CTA > p,
.about > p {
  margin: 7px 10px;
  text-align: center;
}


.splash__auth-options--button {
  padding: 1rem;
  margin: 15px 25%;
  background: var(--clr-light);
  border: 1px solid var(--clr-light-accent);
  box-shadow: var(--bs-light);
  color: var(--clr-dark);
  font-family: var(--ff-secondary);
  font-size: var(--fs-body);
  font-weight: var(--fw-bold);
  cursor: pointer;
}
.splash__auth-options--button:hover {
  background: var(--clr-light-accent);
  box-shadow: var(--bs);
  opacity: 0.8;
  backdrop-filter: saturate(180%) blur(20px) opacity(0.8);
}
.splash__auth-options--button:active {
  box-shadow: var(--bs-light);
} 

/* ##################################################### SHEET */


.char-sheet {
  position: relative;
  background: var(--clr-light);
}

.character-component__input--name {
  width: 280px;
  font-size: var(--fs-h2);
  font-family: var(--ff-secondary);
  font-weight: var(--fw-bold);
  background: transparent;
  text-align: center;
}
.character-component__input--detail {
  width: 280px;
  font-size: var(--fs-h2);
  font-family: var(--ff-secondary);
  font-weight: var(--fw-bold);
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--clr-dark-accent);
  text-align: center;
}
.char-sheet__components {
  /* TODO change flex row for desktop table media queries */
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  min-width: 66%;
  max-width: 1200px;
  margin: 0 auto 55px auto;
}

@media (min-width: 900px) {
  .char-sheet__components {
    /* beginning of desktop grid formats */
    flex-direction: column;
    max-height: 1200px;
  }
}


/* ##################################################### CHARACTER COMPONENTS */

.character-component {  /* mobile first */
  position: relative;
  display: flex;
  flex: 1 1 300px;
  flex-direction: column;
  background: var(--clr-light);
  box-shadow: var(--bs-light);
  margin: 5px ;
  max-width: 300px;
}

.character-component--plus {
  position: relative;
  top: -.25em;
  left: .25em;
}

.character-component__content {
  box-shadow: var(--bs-in-light);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.character-component__item  {
  position: relative;
  display: flex;
  box-sizing: content-box;
  justify-content: center;
  align-items: center;
  margin: 0 -1px -1px 0;
  border: 1px solid var(--clr-light-accent);
  box-shadow: var(--bs-in-light);
  background: var(--clr-light);
}
.character-component__checkbox {
  align-self: center;
  margin-right: 3px;
}
.character-component__item > label {
  position: relative;
  justify-content: center;
  align-content: center;
  margin: 15px auto 10px;
}
.character-component__label-title {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-reg);
  color: var(--clr-dark);
  margin: 5px auto;
}

.character-component__title {
  font-family: var(--ff-secondary);
}

.character-component__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: .5rem 0;
  margin-right: -1px;
  background: var(--clr-light-accent);
  border-bottom: 1px solid var(--clr-dark-accent);
  box-shadow: var(--bs-in-light);
}

.character-component__button-wrap {
  grid-column: 1/13;
  margin: 0 -1px -1px 0;
  border: 1px solid var(--clr-light-accent);
}
.character-component__button {
  padding: .5rem 1rem;
  margin: 10px 25%;
  background: var(--clr-light);
  border: 1px solid var(--clr-light-accent);
  box-shadow: var(--bs-light);
  color: var(--clr-dark);
  font-family: var(--ff-secondary);
  font-size: var(--fs-body);
  font-weight: var(--fw-bold);
  cursor: pointer;
}
.character-component__button:hover {
  background: var(--clr-light-accent);
  box-shadow: var(--bs);
  opacity: 0.8;
  backdrop-filter: saturate(180%) blur(20px) opacity(0.8);
}
.character-component__button:active {
  box-shadow: var(--bs-light);
}


.character-component__input{
  margin: auto 5px;
  width: 35px;
  overflow: visible;
  text-align: center;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--clr-dark-accent);
  font-size: var(--fs-h3);
}
.character-component__input--wrap {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  line-height: 2;
}
.character-component__input::placeholder{
  color: var(--clr-dark-accent);
}
.character-component__input[type="number"]::-webkit-outer-spin-button,
.character-component__input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* ########################## HEALTH COMPONENT */

.character-component__content--character-health {
  grid-template-rows: 80px 1fr 80px;
}
.character-component__temp-hp {
  grid-row: 1/2;
  grid-column: 1/7;
}
.character-component__current-hp {
  grid-row: 1/2;
  grid-column: 7/13;
}
.character-component__hit-dice {
  grid-row: 2/3;
  grid-column: 1/7;
}
.character-component__input--diceMultiplier {
  position: relative;
  width: 25px;
  left: 4px;
}
.character-component__input--diceSize {
  position: relative;
  width: 25px;
  margin-left: 0;
  right: 4px;
}
.character-component__death-saves {
  grid-row: 2/3;
  grid-column: 7/13;
}
.character-component__initiative {
  font-size: var(--fs-reg);
  grid-row: 3/4;
  grid-column: 1/5;
}
.character-component__speed {
  grid-row: 3/4;
  grid-column: 5/9;
}
.character-component__armor-class {
  grid-row: 3/4;
  grid-column: 9/13;
}
.character-component__speed p{
  display: inline;
  font-size: var(--fs-small);
}
.character-component__speed--subtext {
  color: var(--clr-dark-accent)
}
.character-component__checkbox-group{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.character-component__checkbox-group p {
  font-family: var(--ff-primary);
  font-size: var(--fs-small);
  color: var(--clr-dark-accent);
}
.character-component__checkbox-group--one {
  position: relative;
  display: inline;
}

/* ########################## ABILITY COMPONENT */

.character-component__input--mod {
  width: 55px;
  font-size: var(--fs-h2);
}
.character-component__input--score {
  font-size: var(--fs-reg);
  width: 35px;
}
.character-component__strength {
  grid-row: 1/2;
  grid-column: 1/7;
}
.character-component__dexterity {
  grid-row: 1/2;
  grid-column: 7/13;
}
.character-component__constitution {
  grid-row: 2/3;
  grid-column: 1/7;
}
.character-component__intelligence {
  grid-row: 2/3;
  grid-column: 7/13;
}
.character-component__wisdom {
  grid-row: 3/4;
  grid-column: 1/7;
}
.character-component__charisma {
  grid-row: 3/4;
  grid-column: 7/13;
}

/* ########################## SAVING THROW COMPONENT */

.character-component__content--character-saves {
  grid-template-rows: repeat(3, 1fr);
}

.character-component__strength-save {
  grid-row: 1/2;
  grid-column: 1/7;
}
.character-component__dexterity-save {
  grid-row: 1/2;
  grid-column: 7/13;
}
.character-component__constitution-save {
  grid-row: 2/3;
  grid-column: 1/7;
}
.character-component__intelligence-save {
  grid-row: 2/3;
  grid-column: 7/13;
}
.character-component__wisdom-save {
  grid-row: 3/4;
  grid-column: 1/7;
}
.character-component__charisma-save {
  grid-row: 3/4;
  grid-column: 7/13;
}

/* ########################## SKILLS COMPONENT */

.character-component__content--character-skills {
  display: grid;
}
.character-component__item--skill {
  grid-column: 1/13;
}
.character-component__item--skill > label {
  display: flex;
  flex-direction: row;
  margin: 8px auto 10px 18%;
}

/* ########################## PROFICIENCIES & LANGUAGES COMPONENT */

.character-component__content--character-prof {
  grid-template-rows: auto;
}
.character-component__titled-text {
  position: relative;
  grid-column: 1/13; 
}
.character-component__titled-text > label {
  margin: 10px 0 12px 0;
  height: auto;
}
.character-component__input--titled-text {
  flex-direction: column;
  margin: auto;
  line-height: normal;
}
.character-component__input--title {
  width: auto;
  margin-bottom: 10px;
  font-weight: var(--fw-bold);
  font-family: var(--ff-secondary);
}
.character-component__input--content {
  width: auto;
  resize: vertical;
  text-align: left;
  border: 1px solid var(--clr-dark-accent);
  overflow-x: hidden;
  transition:box-shadow 0.5s ease;
}

/* ########################## ATTACKS & SPELLCASTING COMPONENT */

.character-component__input--attack-name{
  width: 100px;
}
.character-component__input--attack-bonus{
  width: 25px;
}
.character-component__input--attack-damage-type {
  width: 120px;
  resize: vertical;
}

/* ########################## EQUIPMENT COMPONENT */

.character-component__content--character-equipment {
  grid-template-rows: repeat(5, 1fr)
}

.character-component__wallet {
  grid-row: 1/6;
  grid-column: 1/5;
  width: 100%;
  font-family: var(--ff-secondary);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px auto;
}
.character-component__input--coin {
  width: 65px;
  margin: 5px 0;
}

.character-component__equipment {
  grid-row: 1/6;
  grid-column: 5/13;
  display: flex;
  justify-content: center;
  align-content:center;
  justify-items:center;
  align-items:center;
  padding-top: 5px;
}
.character-component__equipment-textarea {
  width: 180px;
  height: 145px;
  margin: 10px auto;
}
.character-component__equipment > label {
  margin: 0px;
}

/* ########################## BIO COMPONENT */

.character-component__bio {
  position: relative;
  grid-column: 1/13;
  padding: 10px 0 10px;
}

.character-component__input--bio-content{
  margin: 5px auto 5px;
  width: 250px;
}