@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: "IBM Plex Sans", sans-serif;
  --ff-secondary: "IBM Plex Mono", monospace;

  --fw-reg: 400;
  --fw-bold: 900;

  --clr-light: #f5f5f5;
  --clr-dark: #303030;
  --clr-light-accent: #ffa600;
  --clr-accent: #915e00;
  --clr-dark-accent: #5f2b00;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0em 0.25em 0.75em rgba(0, 0, 0, 0.4),
    0em 0.125em 0.25em rgba(0, 0, 0, 0.1);

  --bs-light: 0em 0.25em 0.75em rgba(0, 0, 0, 0.05),
    0em 0.125em 0.25em rgba(0, 0, 0, 0.1);

  --bs-in: 0em 0.15em 0.75em 0.2em rgba(0, 0, 0, 0.3) inset,
    0em -0.125em 0.75em 0.2em rgba(0, 0, 0, 0.2) inset;
}

@media (min-width: 768px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.25rem;
  }
}
/* ##################################################### TYPOGRAPHY */

h1,
h2,
h3 {
  line-height: 1.1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

/* ##################################################### GENERAL STYLES */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}

main {
  min-height: 75vh; /* footer magic */
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
}

/* ##################################################### HEADER */

header{
  height: 3em;
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--clr-dark);
  box-shadow: var(--bs-light);
  -webkit-box-shadow: var(--bs-light);
  -moz-box-shadow: var(--bs-light);
  background-color: var(--clr-light);
  transition: .3s;

}

header.sticky {
  background-color: transparent;
  border-bottom: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.header__title {
  margin: 0;
  padding: 0 1rem;
  color: var(--clr-dark);
  text-decoration: none;
}

.header__title--name {
  /* TODO replace with img */
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0 !important;
  padding: 0;
  color: var(--clr-dark);
  font-size: var(--fs-body);
  font-weight: var(--fw-bold);
  text-decoration: none;
}

#header .auth-options {
  display: flex;
}

#header .auth-options button {
  padding: 0.5rem;
  margin: 0 0.5rem;
  background: var(--clr-light);
  color: var(--clr-dark);
  border: 1px solid var(--clr-dark);
  font-size: var(--fs-body);
  font-weight: var(--fw-reg);
  cursor: pointer;
}

/* ##################################################### HEADER */

.footer {
  background: var(--clr-light);
  color: var(--clr-dark);
  border-top: 1px solid var(--clr-dark);
  text-align: center;
  padding: 1.5em 0;

  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
  opacity: 0.7;
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 0.5em;
}

.social-list__link {
  /* make the padding generous for touch screen users. */
  padding: 0.5em;
}

/* ##################################################### POPUP */

.popup {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.popup-inner {
  overflow-y: scroll;
  max-height: 500px;
  width: 75%;
  margin: auto;
  padding: 2em;
  overflow: hidden;
  padding-left: 10px; /* offset the scrollbar width, to keep form centered */
  vertical-align: justify;
  border-radius: 4px;
  background-color: #f0f0f2;
  z-index: 9;
}

.popup-inner h2 {
  text-align: center;
}

/* ##################################################### FORM */

.form {
  max-width: 554px;
  margin: 0 auto;
}

.form label,
.form input {
  display: block;
}

.form input {
  margin-bottom: 1rem;
}

.form label {
  margin: 0 auto;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
  width: 100%;
  padding: 0.3rem;
  border: 1px solid var(--clr-dark);
  border-radius: 0;
  font-size: 1.1rem;
}

.form input:focus {
  border: 1px solid var(--clr-accent);
  box-shadow: var(--bs-light);
  -webkit-box-shadow: var(--bs-light);
  -moz-box-shadow: var(--bs-light);
}

.form input[type="submit"] {
  padding: 0.3rem 0.5rem;
  border: 1px solid var(--clr-dark);
  border-radius: 0;
  font-size: 1.1rem;
  margin: 0 auto;
}

/* error notice */

.error-notice {
  max-width: 554px;
  margin: 1rem auto;
  padding: 0.5rem;
  border: 1px solid var(--clr-dark);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error-notice button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--clr-dark);
  color: var(--clr-dark);
}
